#contact_modal {
    display: none;
}
/*Header*/
.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
    padding: 2rem;
    border-radius: 10px;
}
.photograph-header .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.photograph-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #c25a41; /* Rouge foncé */
}

.photograph-header .location {
    color: #901C1C;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 5px;
}

.photograph-header .tagline {
    font-size: 1rem;
    color: #777;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
}
/*FIN Header*/
/*IMG / Vid*/
.photographer-media{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.PresentationPhotographe{
    display: flex;
    width: 350px;
    flex-direction: row;
    flex-wrap: wrap;
}
.detailMedia{    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.detailMedia h3{    
    margin: 0px;
}
.detailMedia .likes {
    font-weight: 500;
    color: #901C1C;
}
.blockMedia{
    width:350px;
    height:350px;
}

.blockMedia img{
    width: 100%;
    object-fit: cover;
    height:300px;
}

.blockMedia video{
    width: 100%;
    object-fit: cover;
    height:300px;
}


.media-info{
    width: 375px;
    height: 90px;
    background-color: #DB8876;
}

.media-info .price{
    font-size: 0.9rem;
}

.media-info .likes{
    font-weight: 500;
}

/*FIN IMG/VID*/
/*Form*/
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
/*Fin form*/