@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}
.headerindex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    margin-top: 100px;
    justify-content: center;
}

.photographer_section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
}

.photographer_section article h3 {
    color: #901C1C;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 5px;
}

.photographer_section article p {
    color: #525252;
    font-size: 18px;
    margin-bottom: 5px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
/*!Partie page indisponible*/
.pageIndispo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
  text-align: center;
  background-color: #f8f8f8;
}

.pageIndispo h1 {
  font-size: 2rem;
  color: #901C1C;
  margin: 50px 0 50px 0;
}

.BrenvoiIndex {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 20px;
  cursor: pointer;
  border-top: 1px solid white;
  background-color: #901C1C;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.BrenvoiIndex:hover {
  background-color: #6e1616;
}

/*! fin partie page indisponible*/